.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-move infinite 7s linear;
  }
}

@keyframes App-logo-move {
  from {
    transform: translateX(calc(-80vmin));;
  }
  to {
    transform: translateX(calc(40vmin + 100%));;
  }
}

.mainblock {
	width: 100%;
	overflow-x: hidden;
}

.lastblock {
	height: 4.8em;
	font-size: 2em;
	width: 100%;
	float: right;
}

.start-screen{
	margin-top: 30%;
}

.start-screen div {
	padding: 0.4em;
}

.start-screen label {
	font-size: 2em;
}

.start-screen input {
	font-size: 3em;
	width: 3.6em;
}

.start-screen button {
	font-size: 2em;
	width: 6em;
}

.statusbar {
	background-color: gray;
    width: 100%;
    min-height: 4em;
	position: fixed;
	bottom: 0;
	padding: 0.4em;
}

.statusbar select {
	font-size: 1.2em;
	width: 11em;
	margin-bottom: 0.2em;
}

.statusbar .finishbtn {
	font-size: 2em;
	width: 6.2em;
}

.race-screen h2 {
	font-size: 2em;
	margin: 0.2em;
}

